.menu {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding: 0 20px;
  border: 1px solid black;
}

.menu__input {
  height: 30px;
  padding: 0 5px;
  margin-right: 10px;
}

.menu__button {
  height: 30px;
  padding: 0 4px;
  background-color: rgb(7, 214, 7);
  outline: none;
}

.menu__select {
  height: 30px;
}