.todoTask {
  flex: 0 1 47%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: rgb(153, 144, 144);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 0 10px;
  cursor: default;
} 

.completed {
  background-color: rgb(90, 211, 54);
  border: none;
}

.todoTask__title {
  flex: 1 1 auto;
}

.todoTask__button {
  background: none;
  border: none;
}

.unvisible {
  display: none;
}